@import '../../variables';


.chat-section{
    flex: 1;
    background: $color-primary-2;
    padding: 20px 20px;
    overflow-y: scroll;
    .chat{
        line-height: 22px;
        padding: 15px;
        background: #fff;
        border-radius: 11px;
        margin-bottom: 20px;
        clear: both;
        min-width: 50px;
        position: relative;
        &:after{
            content: " ";
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            bottom: auto;
            border: 22px solid;
        }
        .msg{
            color: #000;
            font-size: 15px;
            margin: 5px 0 15px 0;
        }
        .time{
            position: absolute;
            bottom: 5px;
            right: 10px;
            color: #00000073;
            font-size: 11px;
        }
        &.you{
            float: left;
            margin-right: 10%;
            font-size: 14px;
            left: 15px;
            background: #a094e4;
            color: $color-text-0;
            .name{
                font-size: 12px;
                font-weight: 500;
                color: $color-primary-4;

            }
            .msg{
                color: $color-primary-4;
                font-size: 15px;
            }
            .time{
                color: $color-primary-4;
                font-size: 10px;

            }
            &::after{
                left: -12px;
                right: auto;
                border-color: #a094e4 transparent transparent transparent;
            }

            
        }
        &.me{
            float: right;
            margin-left: 10%;
            background: $color-primary-1;
            color: $color-text-0;
            .name{
                font-size: 12px;

            }
            .msg{
                color: #fff;
                font-size: 15px;
            }
            .time{
                color: $color-text-0;
                font-size: 10px;

            }
            &::after{
                left: auto;
                right: -12px;
                border-color: $color-primary-1 transparent transparent transparent;
            }
        }
    }
}