@import '../../variables';


.search{
    min-height: 49px;
    background: $color-primary-0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .icon-block{
        position: absolute;
        margin-left: 20px;
        left: 30px;
        color: $color-text-0;
        font-size: 14px;
    }
    input{
        width: calc(100% - 80px);
        height: 30px;
        border: none;
        border-radius: 20px;
        padding-left: 50px;
        outline: none;
        font-size: 16px;
        color: #cfcae0 !important;
        background-color: $color-primary-1;
    }
}