.lang{
    height: 95vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #1CD8D2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lang__box{
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#7deeea ;
    box-shadow: 5px 10px 30px rgba(#0a514e,0.5);
    border-radius: 50px;
    
    font-size: 18px;


    &-header{
      margin-bottom: 15px;
        

    }

    &-form{
      & .form__group{
        margin-bottom: 20px;
      }


      & .form__group-label{
        display: block;
        margin-bottom: 10px;
      }
      & .form__group-input{
        display: block;
      }



     

    }
    &-button{
      
      border-radius: 100px;
      border: 1px solid blue;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
     
    }


}

